config.env
error.log
__pycache__/*
AyiinXd.db
*.session
*.session-journal
TG_BOT_TOKEN.session
TG_BOT_TOKEN.session-journal
AyiinXd/__pycache__/*
AyiinXd/modules/__pycache__/*
AyiinXd/modules/sql_helper/__pycache__/*
.git
.github
.config
.progress
.vscode/*
bin/*
venv
*.pyc 
.env