aiofiles
aiohttp[speedups]
async_generator
asyncurban
beautifulsoup4
bitlyshortener
bs4
colour
cloudscraper
covid
cowpy
deezloader
dnspython
emoji==1.7.0
faker
ffmpeg-python
fontTools
geopy
git+https://github.com/1danish-00/carbon-now-sh-api-wrapper.git
git+https://github.com/buddhhu/img2html.git
git+https://github.com/yt-dlp/yt-dlp@master
gitpython
glitch_this
google_images_download
google_trans_new
googletrans==4.0.0rc1
gtts
hachoir
hentai
heroku3
html_telegraph_poster
htmlwebshot
httplib2
humanize 
jikanpy
js2py
justwatch
lottie
lxml
markdown
natsort
nekos.py
opencv-python-headless
openai
pafy
pendulum
pillow==9.5.0
psutil
pyaztro
pybase64
pyfiglet
PyGithub
pylast
PyPDF2
pySmartDL
python-barcode
python-dotenv
pytz
Pyyaml
qrcode
rarfile
randomstuff.py
regex
requests
scipy
search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
telegraph
telethon==1.24.0
telethon-session-sqlalchemy
telethon-tgcrypto
urbandict
validators
vcsi
wand
wget
wikipedia
wordcloud
yins-music==0.1.0
youtube-dl
youtube-search
youtube-search-python==1.4.9
zipfile38
